<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      
      font-family: Arial, sans-serif;
      text-align: center;
      text-transform: capitalize;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>User Login</h1>
  <div>
    <form method="POST" action="/users/Login">
      <label>Enter your email</label>
      <input type="email" name="email" placeholder="xyz@gmail.com" required="emai"/>
      <label>Enter your Password</label>
      <input type="password" name="password" placeholder="12234456sdsd" required="password"/>
      <button type="submit">Login</button>
</body>
</html>