<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      
      font-family: Arial, sans-serif;
      text-align: center;
      text-transform: capitalize;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>
<body>
  <h1>User SignUp</h1>
  <div>
    <form method="POST" action="/users">
      <label>Enter your Name</label>
      <input type="name" name="name" placeholder="John xyz" required="name"/>
      <label>Enter your email</label>
      <input type="email" name="email" placeholder="xyz@gmail.com"/>
      <label>Enter your Password</label>
      <input type="password" name="password" placeholder="12234456sdsd"/>
      <button type="submit">SignUp</button>
</body>
</html>